@use "variables.scss" as variables;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: variables.$primary-background-color;
  color: variables.$primary-text-color;
  font-size: 16px;
}

.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: variables.$nav-background-color;
  display: flex;
  justify-content: center;
}

.bottom-nav__button {
  background-color: variables.$nav-background-color;
  border: none;
  outline: none;
  height: 60px;
  width: 100px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: font-size 0.3s;
}

.bottom-nav__button:hover {
  background-color: variables.$nav__button-hover-color;
  font-size: 1.8rem;
}

.bottom-nav__button--active {
  background-color: variables.$nav__button-active-color;
}

.bottom-nav__button--active:hover {
  background-color: variables.$nav__button-active-color;
}
